.blog-item-wrapper {
	width: 100%;
	height: 10rem;
	padding: 0.5rem;

	margin: 0.5rem;
}

.blog-item-wrapper p {
	padding-top: 0.5rem;
}

.blog-item-title {
	text-decoration: none;
	color: black;
	font-size: 1.6rem;
	font-weight: 600;
}
.blog-item-wrapper a {
	text-decoration: none;
}
.blog-item-title:hover {
	cursor: pointer;
}
.blog-item-wrapper:hover {
	border-width: 2rem;
	border-color: black;
	/* background-color: aqua; */
}
