.blog-item-wrapper {
	/* background-color: aqua; */
	max-width: 40vw;
	height: max-content;
	padding: 0.5rem;

	margin: 0.5rem;
}

.blog-item-wrapper p {
	padding: 0.5rem 0rem;
	/* background-color: aquamarine; */
}

.blog-item-title {
	min-width: 100%;
	color: #1f222e;
	font-size: clamp(1.5rem, 2.5vw, 4rem);
	font-weight: 600;
	height: 100rem;
	text-decoration: none;
}

.blog-item-title:hover {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: blue;

	transition: 100ms ease-in;
}

@media screen and (max-width: 650px) {
	.blog-item-wrapper {
		/* background-color: aqua; */
		max-width: 90vw;
	}
}
